Host pair.com pair
     HostName arda.pair.com
     User swingnut
     IdentityFile ~/.ssh/jake@jakesprouse.net_rsa

Host friendly
     HostName friendly.synapse.com

Host *.synapse.com
     IdentityFile ~/.ssh/sprouse@synapse.com_rsa

Host github.com
     User bananajr
     IdentityFile ~/.ssh/jake@jakesprouse.net_rsa
